const fs = require('fs');
const axios = require('axios');
var wordsFile = '';
var words = `
en;ru
scattered;раскиданный
paddle;весло
`;
words = words.split('\n');
words = words.filter(function(el){
    return el != '';
}).map(function(el){
    return el.split(';');
});
words.shift();
console.log(words);

var headers = {
    "app_id": "",
    "app_key": ""
};

var URL = 'https://od-api.oxforddictionaries.com/api/v2/entries/en-gb/';

async function saveJSON() {
    for (const el of words) {
        var phrase = el[0];
        phrase.toLowerCase();
        phrase = phrase.split(' ').join('_');
        phrase = encodeURI(phrase);
        await axios({
            method: 'get',
            url: URL + phrase + '?strictMatch=false',
            headers: headers
        }).then(function (response) {
            var result = response.data.results[0].lexicalEntries[0];
            el[2] = (typeof result.entries[0].senses[0].definitions !== "undefined") ? '\"' + result.entries[0].senses[0].definitions[0] + '\"' : '';
            el[3] = (typeof result.pronunciations !== "undefined") ? JSON.stringify(result.pronunciations[0].phoneticSpelling) : '';
        }).catch((error) => {
           console.error("ERROR ---- ", el.en, error);
        });
    }
    var lines = words.map(function(el){
        return el.join(';');
    });
    lines = lines.join('\n');
    console.log(lines);
    wordsFile = 'en;ru;definition;pronunciations\n' + lines;

    fs.writeFile("./words.csv", wordsFile, function(err) {
        if (err) {
            return console.log(err);
        }

        console.log("The words file was saved!");
    });
};
saveJSON();




