body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}
.word-block {
    text-align: center;
    padding: 20px 0 0;
}
.word-rus {
    font-size: 48px;
}
.word-def {
    font-size: 14px;
}
.word-form {
    border: 2px dashed #eee;
    padding: 20px;
    text-align: center;
    background: #ffc;
}
.word-input,
.word-button {
    font-size: 24px;
    font-family: 'Arial', sans-serif;
}
.word-result {
    padding: 20px;
}
.word-container {
    position: relative;
    padding: 20px 0 0;
}
.word-progress {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
    height: 10px;
    background: #369;
}
.word-table {
    width: 100%;
    border-collapse: collapse;
}
.word-table td {
    border: 1px solid #ccc;
    vertical-align: top;
    padding: 5px;
    background: #fcc;
}
.word-table th {
    border: 1px solid #ccc;
    font-weight: 400;
    text-align: left;
    white-space: nowrap;
    background: #eee;
    padding: 5px;
}
.word-table .valid td {
    background: 0 0;
}
.word-definition {
    font-size: 12px;
}
.word-pronunciations {
    font-family: monospace;
}
.word-enetered {
    font-weight: 700;
}
h1 {
    text-align: center;
}
